/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html, body{
    font-size: 1em !important;
}
body{
	background:#F9F9F9;
}
.wrap{
	width:95%;
	margin:0 auto;
}
.header{
    margin-top: 8px;
    padding-top: 6px;
}
.search-bar {
    float:left;
}
.header-top-nav{
    padding-right: 16px;
	float:right;
}
.search-bar input[type="text"]{
    width: 382px;
	height: 20px;
	margin-right: 0;
	color: #666565;
	background: #fff;
	padding: 3px 5px 3px 10px;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0;
	outline: none;
}
.menu_body li form textarea{
    width: 89%;
    vertical-align: top;

}

.search-bar input[type="submit"], .menu_body li input[type="submit"]{
	margin-right: 0;
	color: #000;
	background: #fff;
	padding: 5px 9px 5px 10px;
	border: 1px solid #e5e5e5;
	margin: 0;
	border-left:none;
	cursor:pointer;
	background:#00B7F1;
	font-weight: bold;
}
.search-bar input[type="submit"]:hover, .menu_body li input[type="submit"]:hover{
	background:#181818;
	color:#fff;
}
.search-bar{
	background:#fff;
	margin: 5px 0px 0px 40px;
}
.header-top-nav ul li, .header-top-nav form{
	display:inline-block;
	border-right: 1px solid rgba(122, 120, 120, 0.15);
	padding: 0px 13px;
}

.header-top-nav ul li:last-child{
	border:none;
	padding-right:0px;
}
.header-top-nav ul li a,.header-top-nav{
	font-family: 'Open Sans', sans-serif;
	color:#575757;
	display:inline-block;
	font-size: 0.9em;
	font-weight: bold;
}
.header-top-nav ul li a:hover{
	color:#428BCA;
}
.header-top-nav ul li a span{
	color:#D70D87;
}
/*---top-header----*/
.top-header{
	background: #428BCA;
	padding: 12px 0px;
	margin-top: 16px;
}
.logo{
	float:left;
	margin-top: 4px;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	color: #fff;
	font-weight: bold;
	padding: 10px 16px;
	text-transform: uppercase;
}
.top-nav ul li:last-child{
	padding-right:0px;
}
.top-nav ul li a:hover{
	color:#000;
}
/*---content----*/
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_3{
	display: block;
	float: left;
	margin: 1% 0 1% 0.5%;
}
.grid_1_of_3:first-child { 
	margin-left: 0; 
} 
.images_1_of_3 {
	width: 33%;
	padding: 0px 0 1.1% 0;
	background:#92AC05;
	text-align:center;
	box-shadow: 0px 3px 10px rgb(233, 233, 233);
}
.images_1_of_3:hover{
	opacity:0.95;
	cursor:pointer;
}
.second{
	background:#FCA805;
}
.theree{
	background:#2E2E2E;
}
.images_1_of_3  img {
	max-width:100%;
	display:block;
}
.images_1_of_3  h3{
	color:#fff;
	margin-top:0.4em;
	font-size:1.2em;
	font-family: 'Open Sans', sans-serif;
	font-weight : normal;
	letter-spacing: -1px;
}
/*----products-info----*/
.products-info ul li{
	display:inline-block;
	border: 1px solid rgb(233, 233, 233);
	padding: 7px;
}
.products-info li a.cart,.products-info li a.i{
	width: 36px;
	height: 32px;
	background: url(../images/btn-cart.png);
	display:block;
}
.products-info li a.i{
	background: url(../images/btn-details.png);
}
.products-info li a.Compar{
	background: url(../images/link-compare.png);
	width: 38px;
	height:32px;
	display:block;
}
.products-info li a.Wishlist{
	background: url(../images/link-wishlist.png);
	width: 32px;
	height:32px;
	display:block;
}
.products-info li a.cart:hover,.products-info li a.i:hover,.products-info li a.Compar:hover,.products-info li a.Wishlist:hover{
	background-position: -35px bottom;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_3{ 
		margin: 2% 0 2% 0%;
	}
	
	.images_1_of_3 {
		width:94%;
		padding:3%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_3{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_3 {
		width:92%;
		padding:4%;
	}
}
/*  GRID OF Four   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_4 {
	width:23.9%;
	border: 1px solid rgb(233, 233, 233);
	text-align: center;
	padding: 1.5em 0px 0 0;
	background: #fff;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.products-info:hover{
	border: 1px solid rgba(228, 228, 228, 0.6);
	box-shadow: inset 0 0px 15px rgba(0,0,0,0.12);
	-moz-box-shadow: inset 0 0px 15px rgba(0,0,0,0.12);
	-webkit-box-shadow: inset 0 0px 15px rgba(0,0,0,0.12);
}
.products-info ul{
	
}
.images_1_of_4  img{
    height:285px;
	max-width:100%;
	display:block;
	padding-bottom: 8px;
	margin: 0 auto;
}
.images_1_of_4 span {
    color:#575757;
    font-size:0.7em;
    text-decoration: line-through;
}
.images_1_of_4 h3{
	color: #ff0000;/*#575757;*/
	margin-top:0.3em;
	margin-bottom: 0.45em;
	font-size:1.2em;
	font-family: 'Open Sans', sans-serif;
	font-weight : normal;
	letter-spacing: -1px;
    height: 54px;
}
.images_1_of_4 a{
		font-size:0.8em;
		font-family: 'Open Sans', sans-serif;
        color:#428BCA;
}
.images_1_of_4 a:hover{
	color: #575757;
}
.content-grids h4 ,.content-sidebar h4, .right-content-sidebar h4{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	font-size: 1.5em;
	padding: 6px 0px 0px 0px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_4{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_4 {
		width:94%;
		padding:3%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_4{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_4 {
		width:92%;
		padding:4%;
	}
}
/*-----content-grids----*/
.content-grids{
	width:68%;
	float:left;
    margin-left: 1%;
}
/*----sidebar----*/
.content-sidebar, .right-content-sidebar{
	float:left;
	width:15%;
	font-family: 'Open Sans', sans-serif;
}
.right-content-sidebar{
    float:right !important;
}
.content-sidebar h4, .right-content-sidebar h4{
	margin-bottom: 10px;
}
.content-sidebar li a, .right-content-sidebar li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: rgb(116, 110, 110);
	display: block;
	padding: 12px 0px;
	background: url(../images/sepHor.png) repeat-x left bottom;
	padding-left:5px;
}
.content-sidebar li a:hover, .right-content-sidebar li a:hover{
	background: url(../images/sepHor.png) repeat-x left bottom;
	background-color:#eee;
	color:#428BCA;
}
/*---footer---*/
.back-to-top{
    position: fixed;
    bottom: 10%;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background: transparent url("../images/icon-backtotop.png") no-repeat scroll left top;
    background-size: 48px;
    font-size: 0px;
    padding: 0px;
    display: none;
    opacity:0.6;
    height: 48px;
    width: 48px;
}
.back-to-top:hover{
    opacity: 1;
}
/*  GRID OF FOUR   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
	
.span_1_of_4 {
	width: 22%;
	padding: 0 0 0 1.5%;
}
.span_1_of_4  h3,.span_1_of_4 ul li a{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	font-size: 1.2em;
	padding: 6px 0px 0px 0px;
}
.span_1_of_4 ul li img{
	vertical-align:middle;
	padding-right: 5px;
}
.span_1_of_4  h3{
	text-transform: uppercase;
}
.span_1_of_4  p {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
	font-family :verdana, arial, helvetica, helve, sans-serif; 	 
}
.span_1_of_4 ul li a{
	font-size:0.8em;
}
.span_1_of_4 ul li a:hover{
	color:#428BCA;
}
.footer-secondgrid ul{
	margin-top:10px;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
/*---footer---*/
.footer{
	background: #181818;
}
.footer-lastgrid input[type="text"]{
	outline:none;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 0.3em;
	padding:5px 7px;
}
.footer-lastgrid input[type="submit"]{
	background:none;
	border:none;
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
	color:#428BCA;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.footer-lastgrid ul li{
	display:inline-block;
}
.footer-lastgrid ul {
	margin-top:10px;
}
.footer-lastgrid ul li{
	padding-right:3px;
}
.footer {
	margin-top: 30px;
}
/*---about-us----*/
.about h4{
	color: #575757;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-top: 7px;
	letter-spacing: -1px;
}
.about h5{
	color:#428BCA;
	font-family: 'Open Sans', sans-serif;
	font-size:0.9em;
}
.about-centre{
	margin:0px 15px;
}
.quites a{
	color: #575757;
	margin-bottom: 0.5em;
	font-size: 1em;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	margin-top:10px;
}
.quites a span{
	color:#428BCA;
	text-transform:uppercase;
}
.about-frist li a{
	font-family: 'Open Sans', sans-serif;
	font-size:0.8em;
	color:rgb(155, 155, 155);
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.about-frist li a:hover{
	color:#428BCA;
}
.about-frist ul li{
	line-height: 1.5em;
}
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col_1_of_3:first-child { margin-left: 0; }

.span_1_of_3 {
	width: 32%;
	padding: 1.5% 2% 0 0;
}
.span_1_of_3  h3{
	color:#575757;
	margin-bottom:0.5em;
	font-size:1.5em;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}

.span_1_of_3  p  ,.brand-history p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
	margin-bottom: 10px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
     
     .wrap{
		width:95%;
	}		
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:92%;
		padding:4%;
	}
}
/*  GRID OF Content and sidebar   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.cont{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
}
.rsidebar{
	display: block;
	float:left;
} 	
.span_2_of_3 {
	width: 63.1%;
	padding: 1.5% 3.5% 0 0;
}
.span_1_of_3 {
	width: 31.33%;
	padding: 0% 2% 0 0;
}
.span_2_of_3  h3{
	color: #575757;
	margin-bottom:0.5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
	font-family: 'Open Sans', sans-serif;
}
.span_2_of_3 p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
	margin-bottom: 10px;
}
.products-info li a.Compar:hover{
	background-position: -39px 29px;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%;  
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:92%;
		padding:4%;
	}
	.span_1_of_3 {
		width:92%;
		padding:4%;
	}
}
/*-----back-links----*/
.back-links ul li,.details-categories ul li,.left-value-details{
	display:inline-block;
}
.back-links ul li a,.details-categories ul li a,.details-categories ul li{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
}
.back-links ul li a:hover,.details-categories ul li a:hover,.active1 a{
	color: #428BCA;
}
.back-links ul li img{
	padding:0px 3px;
}
.back-links{
	padding: 19px 0px 7px 0px;
}
/*---details----*/
#content{
	margin-top:10px;
}
.details-image{
	float:left;
    width: 30%;
}
.brand-value,.details-categories{
	float:left;
	margin:2% 0 0 3%;
}
.details-categories ul li a:hover{
	text-decoration:underline;
}
.left-value-details{
	float:left;
	font-weight:normal;
}
.left-value-details ul li{
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size:0.8em;
}
.left-value-details ul li span{
	text-decoration:line-through;
}
.brand-value{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	display: inline-block;
	font-weight: bold;
}
.left-value-details ul li h5{
	font-size:2em;
    color: #ff0000
}
.left-value-details{
	float:left;
}
.right-value-details{
	float:right;
	margin-top:5%;
	font-weight:normal;
}
.right-value-details h6{
    color:#ff0000;
}
.right-value-details  a{
	color:#428BCA; /*#D70D87;*/
}
.brand-value{
	border-bottom:1px solid #e5e5e5;
	width:50%;
	padding-bottom:10px;
}
.brand-value h3{
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
}
.active1  a{
	color:#428BCA;
	text-decoration:underline;
}
.brand-history{
	float:left;
	padding: 10px 0px;
	margin-left: 3%;
}
.brand-history a{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E8E7DC;
	cursor: pointer;
	display: inline-block;
	font: 9px/21px;
	letter-spacing: 2px;
	padding: 10px;
	color: #525049;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin-left: 0px;
}
.brand-history a:hover{
	background: none repeat scroll 0 0 #F8F8F3;
}
.share ul li{
	display:inline-block;
}
.share{
	text-align: center;
	margin: 3% 0 0 0;
}
.share ul li img{
	vertical-align:middle;
	margin: 0 6px;
    fit:inherit;
}
.share ul li a{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
}
.share ul li a:hover{
	color:#428BCA;
}
.brand-history h3{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	display: inline-block;
	font-size: 0.9em;
}
/*-----*/
.menu_container {
 	margin-top: 5%;
}
.menu_head {
	background: #428BCA;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
	margin: 0 0 1px 0;
    padding: 7px 11px;
	font-weight: bold;
}
.menu_head a {
    color: #fff;
}
.menu_head a:hover {
    color:#000;
}
.menu_body {
	background: #fff;
}
.menu_body p, .menu_body form{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000;
	line-height: 1.8em;
	margin-bottom: 10px;
	padding:10px;
}
.menu_body span{
    color: rgb(155, 155, 155);
}
.menu_body li{
    background: url(../images/sepHor.png) repeat-x left bottom;
}

.plusminus{
	float:right;
}
.details-product table,th,td{
    border:0x solid #428BCA;
    border-collapse:collapse;
}
.details-product table{
    width:auto;
    margin:auto;
}
.details-product th, td{
    padding-left:15px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
}


/*.right_menu_container {
    align-content: flex-end;
    background: #428BCA;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
	margin: 0 0 1px 0;
    padding: 7px 11px;
	font-weight: bold;
    float:right;
    width:15%;
}

.right_menu_container:before {
    background-color : #428BCA
}
.right_menu_container:default {
    background-color: #428BCA;
}*/
/*---contact----*/
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 0% 0%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5% 0; 
}

.span_2_of_3  h2,
.span_1_of_3  h2 {
	color: #575757;
	margin-top: 0.4em;
	margin-bottom: 0.7em;
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: -1px;
	font-family: 'Open Sans', sans-serif;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
	font-family: 'Open Sans', sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			background:#fcfcfc;
			border: none;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			box-shadow: inset 0px 0px 3px rgb(199, 199, 199);
			-webkit-box-shadow: inset 0px 0px 3px rgb(199, 199, 199);
			-moz-box-shadow: inset 0px 0px 3px rgb(199, 199, 199);
			-o-box-shadow:inset 0px 0px 3px rgb(199, 199, 199);
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	font-size:1em;
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #ffffff, #ececec);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ececec));
	background-image: -webkit-linear-gradient(top, #ffffff, #ececec);
	background-image: -o-linear-gradient(top, #ffffff, #ececec);
	background-image: linear-gradient(to bottom, #ffffff, #ececec);
	background-repeat: repeat-x;
	border: #fff 1px solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 3px rgb(207, 206, 206);
	-moz-box-shadow: 0px 0px 3px rgb(207, 206, 206);
	box-shadow: 0px 0px 3px rgb(207, 206, 206);
	text-transform: uppercase;
	color: #000;
	padding: 13px 17px 13px 17px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	cursor:pointer;
}
.contact-form input[type="submit"]:hover{
	border: 1px solid #575757;
	background:#575757;
	text-decoration: none;
	color: #428BCA;
}
.contact-form input[type="submit"]:active{
	background-color:#F7503D;  
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.2em 0;
	font-size: 0.8125em;
	color: rgb(155, 155, 155);
	line-height: 1.5em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
.details-categories li span{
	color:#428BCA;
	text-decoration:underline;
}
.back-links ul li a{
	font-weight:normal;
}
/*----blog----*/
.blog-grid-header h3,.blog-grid-header ul li a{
	font-family: 'Open Sans', sans-serif;
	color: #428BCA;
	display: inline-block;
	font-size: 0.88em;
	padding: 7px 0px 0px 0px;
}
.blog-grid-header ul li{
	display:inline-block;
	margin-right: 5px;
}
.blog-grid-header ul li a img{
	vertical-align:middle;
}
.blog-grid-header ul li img{
	padding-right:5px;
}
.blog-grid-header ul li a{
	color:#575757;
}
.blog-grid-header ul li a:hover{
	color:#428BCA;
}
.blog-grid h4{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	font-size: 1.5em;
	padding: 10px 0px 10px 0px;
}
/*  GRID OF Content with Image   ============================================================================= */

.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding: 2% 0;
	border-bottom: 1px solid rgb(238, 238, 238);
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid {
	display: block;
	float:left;
	margin: 0% 0 0% 1.2%;
}
.grid:first-child { margin-left: 0; }

.images_3_of_1 {
	width:30.2%;
}
.details-image-details {
	float: right;
	width: 69%;
}
.span_2_of_3{
	width: 64%;
	padding: 0;
	margin-right: 25px;
}
.images_3_of_1  img {
	max-width:100%;
	display:block;
}
.span_2_of_3  h3{
	color:#575757;
	margin-bottom:0.3em;
	font-size:1.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_2_of_3  p  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
	margin-bottom: 10px;	
}
.span_2_of_3 .button{
	margin-top:.3em;
	line-height:1.9em;
}
.span_2_of_3 .button a{
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #E8E7DC;
		cursor: pointer;
		display: inline-block;
		font-size:0.8em;
		padding:5px 10px;
		color: #525049;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin-left: 0px;
}
.span_2_of_3 .button a:hover{
	    color:#428BCA;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.image{
		padding:3%;
	}
	.grid {
		margin:0;
	}	
	.images_3_of_1 {
		width:100%;	
		padding:2% 0 2% 0;	
	}
	.span_2_of_3 {
		width:100%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.image{
		padding:4%;
	}
	.grid {
		margin:0;
	}	
	.images_3_of_1 {
		width:100%;
		padding:2% 0 2% 0;		
	}
	.span_2_of_3 {
		width:100%;
	}
}
/*----pagnation----*/
.pagnation{
	float:right;
	margin-top:10px;
}
.pagnation ul li{
	display:inline-block;
}
.pagnation ul li a{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E8E7DC;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	padding: 5px 10px;
	color: #525049;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin-left: 0px;
}
.pagnation ul li a:hover{
	color:#428BCA;
}
/*----error-page-----*/
.error-page{
	text-align:center;
	height:200px;
	padding-bottom:100px;
}
.error-page h3,.error-page h5{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	font-size:10em;
	padding: 6px 0px 0px 0px;
}
.error-page h5{
	font-size:1.5em;
}
/*----responsive-layouts----*/
@media screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}
	.span_1_of_4 {
		width: 23%;
		padding: 0px;
	}
}
@media screen and (max-width:1280px){
	.wrap{
		width:95%;
	}
	.products-info ul li {
		padding: 5px;
	}
	.span_1_of_4 {
		width: 24%;
		padding: 0px;
		margin: 4.5px;
	}
}
@media screen and (max-width:1024px){
	.wrap{
		width:95%;
	}
	.images_1_of_4 {
		width: 32%;
		padding-bottom: 10px;
	}
	.images_1_of_4:last-child{
		display:none;
	}
	.span_2_of_3 {
		width: 63%;
	}
	.footer-lastgrid ul li {
		display: block;
		padding: 5px 0px;
	}
	.top-header {
		padding: 7px 0px;
	}
	.header-top-nav ul li {
		padding: 0px 8px;
	}
	.images_1_of_3 h3 {
		font-size:1em;
	}
	.details-image-details {
		width: 51%;
	}
}
@media screen and (max-width:800px){
	.wrap{
		width:760px;
	}
	.products-info ul li {
		padding: 0px;
		border:none;
	}
	.images_1_of_3 h3 {
		font-size: 0.9em;
	}
	.span_1_of_4 {
		width: 23%;
	}
	.footer-lastgrid input[type="text"] {
		width: 120px;
	}
	.span_1_of_3 {
		width: 100%;
		padding:0px;
	}
	.about-centre img{
		width:100%;
	}
	.span_2_of_3 {
		width: 100%;
	}
	#wrap ul li {
		width: 47.5%;
	}
	.add-to-cart-button {
		margin-top: 123px;
	}
    .search-bar{
        margin-left:15px;
    }
    .search-bar input[type="text"]{
        width:182px;
    }
}
@media screen and (max-width:640px){
	.wrap{
		width:90%;
	}
	.logo ,.header-top-nav, .top-nav{
		float:none;
		text-align:center;
	}
	.header-top-nav{
		text-align:left;
	}
	.header-top-nav ul li {
		padding: 0px 3px;
	}
	.images_1_of_3 img{
		width:100%;
	}
	.content-grids {
		width: 100%;
		float: none;
	}
	.images_1_of_4 {
		width: 40%;
		margin-right:2%;
	}
	.products-info ul li {
		padding: 4px;
	}
	.products-info ul li:nth-child(2),.products-info ul li:nth-child(3),.products-info ul li:nth-child(4){
		display:none;
	}
	.content-sidebar, .right-content-sidebar {
		width:100%;
	}
	.span_1_of_4 {
		width: 47.6%;
	}
	.details-image-details {
		width: 64%;
	}
}
@media screen and (max-width:480px){
	.wrap{
		width:90%;
	}
	.top-nav ul li a {
		padding:6px 4px;
	}
	.header-top-nav ul li a{
		font-size: 0.88em;
	}
	.images_1_of_4 {
		width: 22.85%;
	}
	.span_1_of_4 {
		width: 100%;
	}
	.header-top-nav,.search-bar{
		display:none;
	}
	.top-header {
		margin:0px;
	}
	.details-image {
		float: none;
		width: 100%;
		text-align:center;
	}
	.details-image-details {
		float:none;
		width: 100%;
	}
	.details-categories{
		margin:0px;
		margin-top:10px;
	}
	.brand-value {
		margin:0px;
		width:100%;
	}
	.brand-history{
		margin:0px;
	}
	.logo{
		padding:20px 0px;
	}
}
/*----copy-right----*/
.copy-right {
	text-align: center;
	background: #181818;
	padding: 0px 0px 10px 0px;
}
.copy-right p,.copy-right a{
	font-family: 'Open Sans', sans-serif;
	color: #575757;
	display: inline-block;
	font-size: 0.9em;
	font-weight: normal;
}
.copy-right a:hover{
	color:#428BCA;
}