﻿@model IEnumerable<ec_th2012_c.Models.CARTS>
@using ec_th2012_c.Models
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear"> </div>
    <div class="content">
        <div class="wrap">
            <div class="back-links">
                <ul>
                    <li><a href="~/Home/Index">Home</a><img src="@Url.Content("~/Content/")images/arrow.png" alt=""></li>
                    <li><a href="~/Checkout/Cart">Shopping Cart</a><img src="@Url.Content("~/Content/")images/arrow.png" alt=""></li>
                </ul>
            </div>
            @if (Model != null && Model.Count() != 0)
            {
                <table border="0">
                <tr>
                    <th colspan="2">Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th></th>
                </tr>
                @{double total = 0; int quan = 0;}             
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="/Product/showProduct?proID=@item.ID_PRODUCT">
                                    <img src="@item.PRODUCTS.IMG" title="@item.PRODUCTS.NAME" width="110">
                                </a>
                            </td>
                            <td>
                                <a href="/Product/showProduct?proID=@item.ID_PRODUCT">@item.PRODUCTS.NAME</a>
                            </td>
                            <td>
                                @if(item.PRODUCTS.CATE_DEP.DISCOUNT > 0)
                                {
                                    <span style="text-decoration:line-through">@(string.Format("{0:#,###.##}", item.PRODUCTS.PRICE)) VND</span><br />
                                    <h5>@(string.Format("{0:#,###.##}", item.PRODUCTS.PRICE * (1 - item.PRODUCTS.CATE_DEP.DISCOUNT))) VND</h5>                            
                                }
                                else
                                {
                                <br />
                                <h5>@(string.Format("{0:#,###.##}", item.PRODUCTS.PRICE)) VND</h5>
                                }
                            </td>
                            <td>
                                @if(item.QUANTITY > 1)
                                {
                                    @Html.ActionLink("-", "subQuantity", item)
                                }
                                <input type="text" value="@item.QUANTITY" min="1" name="quantity" readonly/>
                                @if(item.QUANTITY < item.PRODUCTS.QUANTITY)
                                {
                                    @Html.ActionLink("+", "addQuantity", item)
                                }
                            </td>
                            <td>
                                <h5>@(string.Format("{0:#,###.##}", item.PRODUCTS.PRICE * (1 - item.PRODUCTS.CATE_DEP.DISCOUNT) * item.QUANTITY)) VND</h5>
                            </td>
                            <td>
                                @Html.ActionLink("Remove", "RemoveItem", item, new { onclick="return confirm('Are you sure?')" })
                            </td>
                        </tr>
                        {quan += item.QUANTITY.GetValueOrDefault(); total += (double)(item.PRODUCTS.PRICE * (1 - item.PRODUCTS.CATE_DEP.DISCOUNT) * item.QUANTITY);}
                    }
                    <tr style="border-top:1px solid #E6E6E6;">
                        <td colspan="3">Summarize:</td>
                        <td>@quan</td>
                        <td>@(string.Format("{0:#,###.##}", total)) VND</td>
                        <td></td>
                    </tr>
            </table>
                <button class="btn btn-primary" type="button" onclick="location.href='/Checkout/Shipping'">Continue</button>
            }
            else
            {
                <h2>You have no item in Shopping Cart.</h2>
                <a href="/Home/Index">Back to shopping</a>
            }
        </div>
    </div>