﻿@model IEnumerable<ec_th2012_c.Models.CARTS>

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear"> </div>
<div class="content">
    <div class="wrap">
        @if (Model != null)
        {
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            @{int id = 0;}
            @foreach (var item in Model)
            {
                id++;
                <input type="hidden" name="item_name_@id" value="@item.PRODUCTS.NAME">
                <input type="hidden" name="quantity_@id" value="@item.QUANTITY">
                <input type="hidden" name="amount_@id" value="@(Math.Round((double)(item.PRODUCTS.PRICE * (1 - item.PRODUCTS.CATE_DEP.DISCOUNT))/20000, 2))">
            }
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="upload" value="1">
                <input type="hidden" name="business" value="ec_merchant@gmail.com">
                <input type="hidden" name="no_note" value="1">
                
                <input type="hidden" name="return" value="http://localhost:8525/Checkout/Success">
                @*<input type="hidden" name="rm" value="0">*@
                <input type="hidden" name="cancel" value="http://localhost:8525/Home/Index">
                <input type="image" src="	https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png" border="0" name="submit" alt="Buy now with Paypal">
            </form>
        }
        else
        {
            <h2>You have no item in Shopping Cart.</h2>
            <a href="/Home/Index">Back to shopping</a>
        }
    </div>
</div>