﻿
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transaction has an interupt.</h1>
<h2>Please check your email for more information.</h2>
<h2>Sorry for this inconvenience!</h2>
@Html.ActionLink("Back to shopping", "Index", "Home", null, null)




