﻿@model ec_th2012_c.Models.AspNetUsers
@using ec_th2012_c.Models
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script>
        //continue to checkout
        $(function checkout() {
            $('#chkofrm').on("submit", function (event) {
                event.preventDefault();
                var $this = $(this);
                var frmVal = $this.serialize();
                $.ajax(
                {
                    url: '@Url.Action("Checkout", "Checkout")',
                    type: 'POST',
                    cache: false,
                    datatype: 'json',
                    data: frmVal,
                }).done(function (data) {
                    if(data.status === "success")
                    {
                        $('#ADDRESS').attr('disabled', true);
                        $('#checkout').hide();
                        $('#paypal').show();
                    }
                });

            });
        });
    </script>
}

<hr />
@{List<CARTS> cart = ViewBag.Carts as List<CARTS>;}
@if (cart != null && cart.Count > 0)
{
    <div class="row">
        <div class="col-xs-6" style="border-right:1px solid #E6E6E6;">
            <table>
                @{double total = 0; int quan = 0;}

                @foreach (var item in cart)
                {
                    <tr>
                        <td>
                            <a href="/Product/showProduct?proID=@item.ID_PRODUCT">@item.PRODUCTS.NAME</a>
                        </td>
                        <td>
                            @item.QUANTITY
                        </td>
                        <td>
                            <h5>@(string.Format("{0:#,###.##}", item.PRODUCTS.PRICE * (1 - item.PRODUCTS.CATE_DEP.DISCOUNT) * item.QUANTITY)) VND</h5>
                        </td>
                    </tr>
                    { quan += item.QUANTITY.GetValueOrDefault(); total += (double)(item.PRODUCTS.PRICE * (1 - item.PRODUCTS.CATE_DEP.DISCOUNT) * item.QUANTITY); }
                }
                <tr style="border-top:1px solid #E6E6E6;">
                    <td colspan="2">Sub total:</td>
                    <td>@(string.Format("{0:#,###.##}", total)) VND</td>
                </tr>
                <tr>
                    <td colspan="2">Shipping cost:</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Total:</td>
                    <td>@quan</td>
                    <td>@(string.Format("{0:#,###.##}", total)) VND</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" type="button" onclick="location.href='/Checkout/Cart'">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6">
            @using (Html.BeginForm("Checkout", "Checkout", FormMethod.Post, new { id = "chkofrm"}))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ADDRESS)
                            @Html.ValidationMessageFor(model => model.ADDRESS)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Continue" class="btn btn-danger" id="checkout"/>
                        </div>
                    </div>
                </div>
            }
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                @{int id = 0;}
                @foreach (var item in cart)
                {
                    id++;
                    <input type="hidden" name="item_name_@id" value="@item.PRODUCTS.NAME">
                    <input type="hidden" name="quantity_@id" value="@item.QUANTITY">
                    <input type="hidden" name="amount_@id" value="@(Math.Round((double)(item.PRODUCTS.PRICE * (1 - item.PRODUCTS.CATE_DEP.DISCOUNT))/20000, 2))">
                }
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="upload" value="1">
                <input type="hidden" name="business" value="ec_merchant@gmail.com">
                <input type="hidden" name="no_note" value="1">

                <input type="hidden" name="return" value="http://localhost:8525/Checkout/Success">
                @*<input type="hidden" name="rm" value="0">*@
                <input type="hidden" name="cancel" value="http://localhost:8525/Home/Index">
                <input id="paypal" hidden="hidden" type="image" src="	https://www.paypalobjects.com/webstatic/en_US/btn/btn_checkout_pp_142x27.png" border="0" name="submit" alt="Buy now with Paypal">
            </form>
        </div>
    </div>
}
else
{
    <div>
        <h2>You have no item in Shopping Cart.</h2>
        @Html.ActionLink("Back to shopping", "Index","Home", null, null)
    </div>
}