﻿
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank you for your payment.</h1>
<h2>Check your email to see invoice.</h2>
@Html.ActionLink("Back to shopping", "Index", "Home", null, null)
