﻿
@{
    ViewBag.Title = "ActiveAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActiveAccount</h2>

<form class="right_menu_container" action="/Account/ForgotPassword" align="center">
    <div class="right_menu_container"> @ViewBag.Mess</div>
    <p>
        @Html.ActionLink("Login", "Login") if you want login
    </p>
    <p>
        @Html.ActionLink("Register", "Register") if you want regitster orther account.
    </p>
 
</form>