﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<strong>@ViewBag.Title</strong>

<form class="right_menu_container" action="/Account/ForgotPassword" align="center">
    <div class="right_menu_container"> UserName: (accountName which you want to get password)</div>

    <input type="text" name="userName">

    
    <input type="submit" value="Send">

    <p>
        @Html.ActionLink("Register", "Register") if you don't have a local account.
    </p>
    <p>
        @Html.ActionLink("Login", "Login") if you want login again
    </p>
</form>
