﻿@model IEnumerable<ec_th2012_c.Models.BILL2C>
@using ec_th2012_c.DAO
@using ec_th2012_c.Models
@{
    ViewBag.Title = "showOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
}
@section scripts
{
    <script>
        $(document).ready(function detail() {
            $(".container").hide();
            //toggle the componenet with class menu_body
            $(".menu_body").click(function bill_click() {
                $(this).next(".container").slideToggle(600);
                var plusmin;
                plusmin = $(this).children("ul").children("li").children(".wrap").children(".plusminus").text();
                if (plusmin == '+')
                    $(this).children("ul").children("li").children(".wrap").children(".plusminus").text('-');
                else
                    $(this).children("ul").children("li").children(".wrap").children(".plusminus").text('+');
            });
        });
    </script>
}
<div class="menu_container">
    @foreach (var item in Model)
    {
        <div class="menu_body">
            <ul>
                <li>
                    <div class="wrap">
                        <span class="plusminus" id="plusmin" style="color:blue">+</span>
                        <table style="width:inherit" >
                            <tr style="color:blue">
                                <td class="col-lg-2"> Transaction </td>
                                <td class ="col-lg-2"> Time </td>
                                <td class="col-lg-2"> Total </td>
                                <td class="col-lg-2">Shipping Address</td>
                                <td class="col-lg-2"> State </td>

                            </tr>
                            <tr>
                                <td class="col-lg-2"> @item.TRANS_ID </td>
                                <td class="col-lg-2"> @item.DATECREATE </td>
                                <td class="col-lg-2"> @(string.Format("{0:#,###.##}", item.TOTAL)) VND </td>
                                <td class="col-lg-2">@item.SHIP_ADDRESS</td>
                                <td class="col-lg-2"> @item.STATE </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="wrap">
                <table style="width:inherit; margin-bottom:1%; margin-top:1%">
                    <tr style="color:rgb(188, 0, 0);">
                        <th>
                            Product
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Rate
                        </th>
                    </tr>
                    @foreach (BILL2C_DETAIL j in (new ec_th2012_c.DAO.BillDAO().getDetailBybillID(item.ID)))
                    {
                        <tr>
                            <th>
                                @j.PRODUCTS.NAME
                            </th>
                            <th>
                                @j.QUANTITY
                            </th>
                            <th>
                                @(string.Format("{0:#,###.##}", j.RATE)) VND
                            </th>
                            <th>
                                @(string.Format("{0:#,###.##}", (j.QUANTITY * j.RATE))) VND
                            </th>

                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>