﻿@model IEnumerable<ec_th2012_c.Models.BILL2C_DETAIL>
@using ec_th2012_c.Models;
@{
    ViewBag.Title = "showOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>showOrder</h2>

<div class="details-product">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QUANTITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILL2C.TRANS_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTS.NAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QUANTITY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BILL2C.TRANS_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTS.NAME)
                </td>
            </tr>
        }
        <tr>
            Total: @Model.First().BILL2C.TOTAL
        </tr>
    </table>
</div>