﻿@model ec_th2012_c.Models.AspNetUsers

@{
    ViewBag.Title = "User Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("saveUserInfo", "Account", FormMethod.Post,
                                    new { model = Model }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="menu_container">
            <div class="menu_body">
                <div class="details-product">
                    <table>
                        <tr>
                            <td>@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.UserName</td>
                        </tr>


                        <tr>
                            <td>@Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.NAME)
                                @Html.ValidationMessageFor(model => model.NAME)
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.ADDRESS)
                                @Html.ValidationMessageFor(model => model.ADDRESS)
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.EMAIL)
                                @Html.ValidationMessageFor(model => model.EMAIL)
                            </td>
                        </tr>


                        <tr>
                            <td>@Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.PHONE)
                                @Html.ValidationMessageFor(model => model.PHONE)
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.USER_INFO.BIRTHDAY, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.USER_INFO.BIRTHDAY)
                                @Html.ValidationMessageFor(model => model.USER_INFO.BIRTHDAY)
                            </td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.USER_INFO.SEX, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.USER_INFO.SEX)
                                @Html.ValidationMessageFor(model => model.USER_INFO.SEX)
                            </td>
                        </tr>
                        <tr>
                            <td>BILL COUNT</td>
                            <td>@ViewBag.billCount   @Html.ActionLink("(show Bills)", "showOrders", "Account")</td>
                        </tr>
                        <tr>
                            <td>YourPassword</td>
                            <td> @Html.ActionLink("change Your Password", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center"><input type="submit" value="Save" class="btn btn-default" /></td>
                        </tr>
                    </table>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
}