﻿@model IEnumerable<ec_th2012_c.Models.BILL2C>

@{
    ViewBag.Title = "showOrders1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>showOrders1</h2>


<div class="details-product">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.DATECREATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOTAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SHIP_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
            </th>
            <th>
                show
            </th>
           
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DATECREATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOTAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SHIP_ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                </td>

                <td>
                    @Html.ActionLink("show Bill", "showOrder", new { BillID = item.ID })
                </td>

            </tr>
        }

    </table>
</div>