﻿@model ec_th2012_c.Models.AspNetUsers
@using ec_th2012_c
@{
    ViewBag.Title = "showUserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
}
@section scripts
{
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="menu_container">
            <div class="menu_head">User Informations<span class="plusminus">-</span></div>
            <div class="menu_body">
                <div class="details-product">
                    <table title="PRODUCT DETAILS">

                        <tr>
                            <td>@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.UserName</td>
                        </tr>


                        <tr>
                            <td>@Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.NAME</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.ADDRESS</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.EMAIL</td>
                        </tr>


                        <tr>
                            <td>@Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.PHONE</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.USER_INFO.BIRTHDAY, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.USER_INFO.BIRTHDAY</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.USER_INFO.SEX, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>@Model.USER_INFO.SEX</td>
                        </tr>
                        <tr>
                            <td>BILL COUNT</td>
                            <td>@ViewBag.billCount</td>
                        </tr>
                    </table>
                    <p></p>
                </div>
            </div>





        </div>
    </div>
}

