@font-face {
    font-family: 'YDl6urZh-DUFhiMBTgAnz9Kd--5SjvBBPdO8SYNBozY';
    src: url('../fonts/YDl6urZh-DUFhiMBTgAnz9Kd--5SjvBBPdO8SYNBozY.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'yysorIEiYSBb0ylZjg791MTHJmA_LQ0BdIKqaOcwozg';
    src: url('../fonts/yysorIEiYSBb0ylZjg791MTHJmA_LQ0BdIKqaOcwozg.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE';
    src: url('../fonts/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot') format('embedded-opentype');
}