﻿<!DOCTYPE html>
@using Microsoft.AspNet.Identity;
@using System.Collections.Generic;
@using ec_th2012_c.DAO
@using ec_th2012_c.Models
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Mobilestore iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href="@Url.Content("~/Content/")bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/")css/style.css" rel="stylesheet" type="text/css" media="all" />  
    <link href='@Url.Content("~/Content/")/fonts.css' rel='stylesheet' type='text/css'>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @RenderSection("css", false)
    <script src="@Url.Content("~/Content/")/jquery.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        //function back to top
        jQuery(document).ready(function backToTop() {
            var offset = 120;
            var duration = 500;
            jQuery(window).scroll(function fadeInOut() {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('.back-to-top').fadeIn(duration);
                } else {
                    jQuery('.back-to-top').fadeOut(duration);
                }
            });

            jQuery('.back-to-top').click(function toTop(event) {
                event.preventDefault();
                jQuery('html, body').animate({scrollTop: 0}, duration);
                return false;
            })
        });
        //function load cart count
        $(function loadCartCount() {
            $('a[class="cart"]').on("click", function (event) {
                event.preventDefault();
                var val = $(this).attr('data-pID');
                $.ajax(
                {
                    url: '@Url.Action("AddToCart", "Checkout")',
                    type: 'GET',
                    cache: false,
                    datatype: 'json',
                    data: { pID:val },
                }).done(function (data) {
                    if (data.status === "soldout") {
                        alert("Product has been sold out.");
                        return;
                    }
                    if (data.status === "existed") {
                        alert("This product already existed in your cart.");
                        return;
                    }
                    $('#CartCount').val(data.count);
                    document.getElementById("CartCount").innerHTML = data.count;
                });

            });
        });
    </script>
</head>
<body>
    <div class="wrap">
        <!----start-Header---->
        <div class="header">
            <div class="clear"> </div>
            <div class="header-top-nav">
                <ul>
                    @Html.Partial("_LoginPartial")
                    @{
                        int cart = 0;
                        List<CARTS> c;
                        string uId = this.User.Identity.GetUserId();
                        if (uId == null)
                        {
                            c = Session["Cart"] as List<CARTS>;
                        }  
                        else
                        {
                            c = new CartDAO().getAllItems(uId).ToList<CARTS>();
                        }
                        if (c != null)
                        {
                            foreach (CARTS i in c)
                            {
                                cart += i.QUANTITY.GetValueOrDefault();
                            }
                        }
                    }
                    <li><a href="~/Checkout/Cart"><span>Shopping Cart&nbsp;&nbsp;: &nbsp;</span></a><label id="CartCount">@cart</label></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>
    <div class="top-header">
        <div class="wrap">
            <!----start-logo---->
            <div class="logo">
                <a href="/Home/Index"><img src="@Url.Content("~/Content/")images/logo.png" title="Mobile Store" /></a>
            </div>
            <!----end-logo---->
            <!----start-top-nav---->
            <div class="top-nav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Check out", "Shipping", "Checkout")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="search-bar">
                <form action="/Product/Search" method="get">
                    <input type="text" name="keyword"><input type="submit" value="Search" />
                </form>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>

    @RenderBody()

    <div class="clear"></div>
    <div class="footer">
        <a href="#" class="back-to-top" title="Back to top">Back to top</a>
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Our Info</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Latest-News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Store Location</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <h3>Order-online</h3>
                    <p>080-1234-56789</p>
                    <p>080-1234-56780</p>
                </div>
                <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                    <h3>News-Letter</h3>
                    <input type="text"><input type="submit" value="go" />
                    <h3>Fallow Us:</h3>
                    <ul>
                        <li><a href="#"><img src="@Url.Content("~/Content/")images/twitter.png" title="twitter" />Twitter</a></li>
                        <li><a href="#"><img src="@Url.Content("~/Content/")images/facebook.png" title="Facebook" />Facebook</a></li>
                        <li><a href="#"><img src="@Url.Content("~/Content/")images/rss.png" title="Rss" />Rss</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"> </div>
        <div class="wrap">
            <div class="copy-right">
                <p>Mobilestore  &#169	 All Rights Reserved | Design By <a href="http://w3layouts.com/">W3Layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>
<noembed>