﻿<div class="content-sidebar">
        <div class="menu_container">
            @foreach (ec_th2012_c.Models.DEPARTMENTS i in new ec_th2012_c.DAO.DepartmentDAO().getAll())
            {
                <div class="menu_head">
                    @Html.ActionLink(@i.NAME, "showCategory","Product", new { depID = i.ID},null)
                <span class="plusminus">-</span>
                </div>
                <div class="menu_body" style="display: none;">
                    <ul>
                        @foreach (ec_th2012_c.Models.CATELOGIES j in (new ec_th2012_c.DAO.CategoryDAO().getByDepartmentId(i.ID)))
                        {
                            <li>@Html.ActionLink(j.NAME, "showCategory", "Product", new { depID = i.ID, cateID = j.ID},null)</li>
                        }
                    </ul>
                </div>
            }
            </div>
</div>

<script>
    $(document).ready(function menu() {
        $(".menu_body").show();
        //toggle the componenet with class menu_body
        $(".menu_head").click(function menu_click() {
            $(this).next(".menu_body").slideToggle(600);
            var plusmin;
            plusmin = $(this).children(".plusminus").text();

            if (plusmin == '+')
                $(this).children(".plusminus").text('-');
            else
                $(this).children(".plusminus").text('+');
        });
    });
</script>