﻿<form class="right-content-sidebar" action="/Product/AdvancedSearch">
    <div class="menu_container">
        <div class="menu_head">Advance Search
            <span class="plusminus">-</span>
        </div>
        <div class="menu_body">
            <ul>
                <li style="background:none !important">
                    <p>
                        Name:
                        <br />
                        <input type="text" name="name">
                        <br />
                        Department:
                        <br />
                        <select name="department" style="width:147px; height:23px">
                            <option value=-1>All Department</option>
                            @foreach (ec_th2012_c.Models.DEPARTMENTS i in new ec_th2012_c.DAO.DepartmentDAO().getAll())
                            {
                                <option value=@i.ID> @i.NAME</option>
                            }
                        </select>
                        <br />
                        Category:
                        <br>
                        <select name="category" style="width:147px; height:23px">
                            <option value=-1>All Category</option>
                            @foreach (ec_th2012_c.Models.CATELOGIES i in new ec_th2012_c.DAO.CategoryDAO().getAll())
                            {
                                <option value=@i.ID> @i.NAME</option>
                            }
                        </select>
                        <br />
                        Min Price:
                        <br>
                        <input type="number" name="MinPrice">
                        <br>Max Price:
                        <br>
                        <input type="number" name="MaxPrice">
                        <br />
                        <input type="submit" value="Search">
                    </p>
                </li>
            </ul>
        </div>
    </div>
</form>
