﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
        {
            @Html.AntiForgeryToken()
            <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "showMyAccount", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            @*<p style="display:inline-block"> | </p>*@
            
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        }
}
else
{
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}