﻿@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<ec_th2012_c.Models.PRODUCTS>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrap">

    <div class="content">

        @Html.Partial("_Layout_Categories")
        @Html.Partial("_Layout_Search")
        <div class="content-grids">
            @{int size = Model.Count(); int i = 0;}
            @while (i < size)
            {
                <div class="section group">
                    @for (int g = 0; g < 4; g++)
                    {
                        if (i >= size)
                        {
                            break;
                        }
                        <div class="grid_1_of_4 images_1_of_4 products-info">
                            <a href="/Product/showProduct?proID=@Model.ElementAt(i).ID">
                                <img src="@Model.ElementAt(i).IMG" title="@Model.ElementAt(i).NAME">
                            </a>
                            <a href="/Product/showProduct?proID=@Model.ElementAt(i).ID">@Model.ElementAt(i).NAME</a>
                            @if (Model.ElementAt(i).QUANTITY > 0)
                            {
                                if (Model.ElementAt(i).CATE_DEP.DISCOUNT > 0)
                                {
                                    <h3>
                                        <span>@(string.Format("{0:#,###.##}", Model.ElementAt(i).PRICE)) VND</span><br />
                                        @(string.Format("{0:#,###.##}", Model.ElementAt(i).PRICE * (1 - Model.ElementAt(i).CATE_DEP.DISCOUNT))) VND
                                    </h3>
                                }
                                else
                                {
                                    <h3 style="line-height: 54px">
                                        @(string.Format("{0:#,###.##}", Model.ElementAt(i).PRICE)) VND
                                    </h3>
                                }
                            }
                            else
                            {
                                <h3 style="line-height: 54px"> SOLD OUT </h3>
                            }
                            <ul>
                                <li><a class="cart" href='@Url.Action("AddToCart","Checkout", Model.ElementAt(i).ID)' data-pid="@Model.ElementAt(i).ID"> </a></li>
                                <li><a class="i" href="/Product/showProduct?proID=@Model.ElementAt(i).ID"> </a></li>
                            </ul>
                        </div>
                            i++;
                    }
                </div>
            }
            @* Tạo link liên kết các trang*@
            @Html.PagedListPager(Model, page => Url.Action("AdvancedSearch", "Product", new { page = page, name = @ViewBag.name, department = @ViewBag.department, category = @ViewBag.category, MinPrice = @ViewBag.MinPrice, MaxPrice = @ViewBag.MaxPrice }))
            <center>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</center>
            <div class="clear"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"> </div>
</div>
