﻿@model ec_th2012_c.Models.PRODUCTS
@using PagedList.Mvc;
@using PagedList;
@using ec_th2012_c.Models
@using Microsoft.AspNet.Identity;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/jqzoom.css" type="text/css">
}
@section scripts
{
    <script src="@Url.Content("~/Content/")js/jqzoom.pack.1.0.1.js" type="text/javascript"></script>
    <script type="text/javascript">
    //function zoom image
        $(function image_zoom() {
            $(".jqzoom").jqzoom();
        });
        //function comment
        $(function comment() {
            $('#submit').on("click", function (event) {
                event.preventDefault();

                var hidend = $('input[name="pID"]').val();
                var message = $('textarea[name="message"]').val();
                
                $.ajax(
                {
                    url: '@Url.Action("Comment", "Product")',
                    type: 'GET',
                    cache: false,
                    datatype: 'json',
                    data: {
                        pID:hidend, message:message
                    }
                }).done(function (data) {
                    var str = "<p>" + data.UserName + ": <span>(" + data.DATECREATE + ")</span><br />" + data.MESSAGE + "</p>";
                    //$.each(data, function(key, value)
                    //{
                    //    str += "<li><p>" + value.AspNetUsers.UserName + ": <span>(" + value.DATACREATE + ")</span><br />" + value.MESSAGE + "</p></li>";
                    //})
                    var newItem = document.createElement("li");
                    var cm = document.getElementById("comments");
                    cm.insertBefore(newItem, cm.childNodes[0]);
                    cm.firstChild.innerHTML = str;
                    $('textarea[name="message"]').val("");
                });
                
            });
        });
    </script>
}


<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        @Html.Partial("_Layout_Categories")
        @Html.Partial("_Layout_Search")
        <div class="content-grids">
            <div class="details-page">
                <div class="back-links">
                    <ul>
                        <li><a href="Index">Home</a><img src="@Url.Content("~/Content/")images/arrow.png" alt=""></li>
                        <li>
                            @Html.ActionLink(Model.CATE_DEP.DEPARTMENTS.NAME, "showCategory", new { depID = Model.CATE_DEP.DEPARTMENT_ID })
                            <img src="@Url.Content("~/Content/")images/arrow.png" alt="">
                        </li>
                        <li>
                            @Html.ActionLink(Model.CATE_DEP.CATELOGIES.NAME, "showCategory", new { depID = Model.CATE_DEP.DEPARTMENT_ID, cateID = Model.CATE_DEP.CATEGORY_ID })
                            <img src="@Url.Content("~/Content/")images/arrow.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
            <div class="details-image">
                <div id="content">
                    <a href="@Model.IMG" class="jqzoom" style="" title="@Model.NAME"> <img src="@Model.IMG" title="@Model.NAME" style="border: 1px solid #e5e5e5;"> </a>
                </div>
                <div class="share">
                    <ul>
                        <li> <a href="https://wwww.facebook.com/" target="_blank"><img src="@Url.Content("~/Content/")images/facebook.png" title="Facebook" /> Fb</a></li>
                        <li> <a href="https://wwww.twitter.com" target="_blank"><img src="@Url.Content("~/Content/")images/twitter.png" title="Twitter" />Tw</a></li>
                        <li> <a href="#"><img src="@Url.Content("~/Content/")images/rss.png" title="Rss" />Rss</a></li>
                    </ul>
                </div>
            </div>
            <div class="details-image-details">
                <div class="details-categories">
                    <ul>
                        <li><h3>Category:</h3></li>
                        @foreach (CATELOGIES _c in (IList<CATELOGIES>)ViewBag.categories)
                        {
                            if (_c.ID.Equals(Model.CATE_DEP.CATEGORY_ID))
                            {
                                <li class="active1"><a href="/Home/showCategory?depID=@Model.CATE_DEP.DEPARTMENT_ID&cateID=@_c.ID"><span>@_c.NAME</span></a></li>
                            }
                            else
                            {
                                <li><a href="/Home/showCategory?depID=@Model.CATE_DEP.DEPARTMENT_ID&cateID=@_c.ID">@_c.NAME</a></li>
                            }
                        }
                    </ul>
                </div>
                <br /><br /><div class="clear"></div>
                <div class="brand-value">
                    <h3>@Model.NAME</h3>
                    <div class="left-value-details">
                        <ul>
                            <li>Price:</li>
                            @if (@Model.CATE_DEP.DISCOUNT > 0)
                            {
                                <li><span>@(string.Format("{0:#,###.##}", Model.PRICE)) VND</span></li>
                                <br />
                                <li><h5>@(string.Format("{0:#,###.##}", Model.PRICE * (1 - @Model.CATE_DEP.DISCOUNT))) VND</h5></li>
                                <br />
                                <li><p>DISCOUNT: @(Model.CATE_DEP.DISCOUNT * 100)%</p></li>
                            }
                            else
                            {
                                <br />
                                <li><h5>@(string.Format("{0:#,###.##}", Model.PRICE)) VND</h5></li>
                            }
                        </ul>
                    </div>
                    <div class="right-value-details">
                        @if (Model.QUANTITY > 0)
                        {
                            <p>IN STOCK</p>
                        }
                        else
                        {
                            <h6>SOLD OUT</h6>
                        }
                        <a href="#reviews">@Model.COMMENT.Count() reviews</a>
                    </div>
                    <div class="clear"> </div>
                </div>
                <br /><br /><div class="clear"></div>
                <div class="brand-history">
                    <h3>Description :</h3>
                    <p>@Model.DESCRIPTION</p>
                    <a class="cart" href='@Url.Action("AddToCart","Checkout", Model.ID)' data-pid="@Model.ID">Addcart</a>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div class="menu_container">
                <div class="menu_head">Product Details<span class="plusminus">-</span></div>
                <div class="menu_body" style="display: none;">
                    <div class="details-product">
                        <table title="PRODUCT DETAILS">
                            @foreach (PRODUCT_INFO i in Model.PRODUCT_INFO)
                            {
                                <tr>
                                    <td>@i.INFO.NAME</td>
                                    <td>@i.VALUE</td>
                                </tr>
                            }
                        </table>
                        <p></p>
                    </div>
                </div>
                <div class="menu_head" id="reviews">Reviews<span class="plusminus">-</span></div>
                <div class="menu_body" style="display: none;">
                    <ul>
                        <li>
                            @if (User.Identity.GetUserId() == null)
                            {
                                <a class="btn btn-primary" href="@Url.Action("Login","Account")">Login to comment </a>
                            }
                            else
                            {
                                using (Html.BeginForm("Comment", "Product", FormMethod.Get, new { id = "frmCmt" }))
                                {
                                    <input type="hidden" name="pID" value="@Model.ID" />
                                    <textarea name="message" rows="4"></textarea>
                                    @*<input type="text" name="message" />*@
                                    <input type="submit" value="Comment" id="submit"/>
                                }
                            }
                        </li>
                    </ul>
                    <ul id="comments">
                        @foreach (COMMENT cm in Model.COMMENT.OrderByDescending(c => c.DATACREATE))
                        {
                            <li><p>@cm.AspNetUsers.UserName: <span>(@cm.DATACREATE)</span><br />@cm.MESSAGE</p></li>
                        }
                    </ul>
                    <p></p>
                </div>
            </div>
            <div class="clear"> </div>
            <br />
            <div class="container">
                <div class="menu_head">Offer Products</div>
                <div class="container">
                    @{ int j = 0; var SameCategoryItemList = (ViewBag.SameCategoryItems as PagedList<PRODUCTS>); int size = SameCategoryItemList.Count();
                     while (j < size)
                     {
                        <div class="section group">
                            @for (int g = 0; g < 4; g++)
                            {
                                if (j >= size)
                                {
                                    break;
                                }
                                <div class="grid_1_of_4 images_1_of_4 products-info">
                                    <a href="/Product/showProduct?proID=@SameCategoryItemList.ElementAt(j).ID">
                                        <img src="@SameCategoryItemList.ElementAt(j).IMG" title="@SameCategoryItemList.ElementAt(j).NAME">
                                    </a>
                                    <a href="/Product/showProduct?proID=@SameCategoryItemList.ElementAt(j).ID">@SameCategoryItemList.ElementAt(j).NAME</a>
                                    @if (SameCategoryItemList.ElementAt(j).QUANTITY > 0)
                                    {
                                        if (SameCategoryItemList.ElementAt(j).CATE_DEP.DISCOUNT > 0)
                                        {
                                            <h3>
                                                <span>@(string.Format("{0:#,###.##}", SameCategoryItemList.ElementAt(j).PRICE)) VND</span><br />
                                                @(string.Format("{0:#,###.##}", SameCategoryItemList.ElementAt(j).PRICE * (1 - SameCategoryItemList.ElementAt(j).CATE_DEP.DISCOUNT))) VND
                                            </h3>
                                        }
                                        else
                                        {
                                            <h3 style="line-height: 54px">
                                                @(string.Format("{0:#,###.##}", SameCategoryItemList.ElementAt(j).PRICE)) VND
                                            </h3>
                                        }
                                    }
                                    else
                                    {
                                        <h3 style="line-height: 54px"> SOLD OUT </h3>
                                    }
                                    <ul>
                                        <li><a class="cart" href='@Url.Action("AddToCart", "Checkout", SameCategoryItemList.ElementAt(j).ID)' data-pid="@SameCategoryItemList.ElementAt(j).ID"> </a></li>
                                        <li><a class="i" href="/Product/showProduct?proID=@SameCategoryItemList.ElementAt(j).ID"> </a></li>
                                    </ul>
                                </div>
                                    j++;
                            }
                        </div>
                     }
                    }

                    @* Tạo link liên kết các trang*@


                    @if (SameCategoryItemList.Count != 0)
                    {
                        @Html.PagedListPager(SameCategoryItemList, page => Url.Action("showProduct", new { proID = ViewBag.proID, page = page }))
                        <center>Page @(SameCategoryItemList.PageCount < SameCategoryItemList.PageNumber ? 0 : SameCategoryItemList.PageNumber) / @SameCategoryItemList.PageCount</center>
                        <div class="clear"></div>

                    }
                    else
                    {
                        <h1>No product to offer</h1>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"> </div>