﻿@{
    ViewBag.Title = "Contact";
    Layout= "~/Views/Shared/_Layout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<body>
    <div class="wrap">
 
    <div class="clear"> </div>
    <div class="wrap">
        <div class="content">
            <div class="section group">
                <div class="col span_1_of_3">
                    <div class="contact_info">
                        <h2>Find Us Here</h2>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6344400215653!2d106.68159960813307!3d10.762631021748595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x043900f1d4539a3d!2zxJDhuqFpIGjhu41jIEtob2EgaOG7jWMgVOG7sSBuaGnDqm4!5e0!3m2!1svi!2s!4v1445610669948" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="company_address">
                        <h2>Group Information :</h2>
                        <p>I, Nguyễn Văn Cừ,</p>
                        <p>Phường 4, Quận 5, TP.Hồ Chí Minh,</p>
                        <p>Việt Nam</p>
                        <p>Phone:(00) 000 000 000</p>
                        <p>Fax: (000) 000 00 00 0</p>
                        <p>Email: <span>info@mycompany.com</span></p>
                        <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                    </div>
                </div>
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h2>Contact Us</h2>
                        <form>
                            <div>
                                <span><label>NAME</label></span>
                                <span><input type="text" value=""></span>
                            </div>
                            <div>
                                <span><label>E-MAIL</label></span>
                                <span><input type="text" value=""></span>
                            </div>
                            <div>
                                <span><label>MOBILE.NO</label></span>
                                <span><input type="text" value=""></span>
                            </div>
                            <div>
                                <span><label>SUBJECT</label></span>
                                <span><textarea> </textarea></span>
                            </div>
                            <div>
                                <span><input type="submit" value="Submit"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
    </div>
    </div>
   
</body>
</html>

